{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
    <div class="container-fluid">
        <article>
            <h1>{{ post.getTitle | striptags }}</h1>
            <small>Publié le : {{ post.getCreatedAt | date("m/d/Y \\à g:ia") }} - {{ post.getAuthor }}</small>
        </article>
        </br>
        <div> {{ post.content | raw }}</div>
    </div>
    <div>
        {{form(form)}}
    </div>
    <ul>
        {% for comment in post.comments | sort((a, b) => b.createdAt <=> a.createdAt) %}
            <li>Le : {{ comment.getCreatedAt | date("m/d/Y \\à g:ia") }}  par {{comment.author}} :
                <div>
                    {{ dump(comment) }}
                    {{comment.content}}
                </div>
            </li>
        {% endfor %}
    </ul>
<style>
.sidemenu{
    height:100vh;
    position: sticky;
    top:0;
}
</style>

{% endblock %}